<div class="bg-main-light p-3 w-75 mx-auto my-3" *ngIf="cartData">
    <h2>Shipping cart</h2>
    <p class="text-main fs-3">
        Total Price : {{cartData.totalCartPrice|currency}}
    </p>
    <div class="row my-2 align-items-center " *ngFor="let item of cartData.products">
        <div class="col-md-1">
            <img [src]="item.product.imageCover " class="w-100" alt="">
        </div>
        <div class="col-md-11">
            <h3 class="fs-5">{{item.product.title}}</h3>
            <p class="text-main fs">
                {{item.price|currency}}
            </p>
            <div class="d-flex justify-content-between">
                <button (click)="deleteItem(item.product._id)" class="btn">
                    <i class="fa-solid fa-trash-can text-danger"></i>
                    <span class="mx-2">Remove</span>
                </button>
                <div>
                    <button (click)="updateItem(item.product._id,item.count-1)"
                        class="btn btn-sm border-success">-</button>
                    <span class="mx-3">{{item.count}}</span>
                    <button (click)="updateItem(item.product._id,item.count+1)"
                        class="btn btn-sm border-success">+</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button [routerLink]="['/checkout',cartData._id]" class="btn bg-main text-white">CheckOut</button>
    </div>
</div>