<div class="container">
    <div class="w-75 mx-auto my-4">
        <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search by name ...">
    </div>
    <div class="row gy-3">
        <div *ngFor="let item of ProductsList|search:searchTerm" class="col-md-2">
            <div class="product px-2 overflow-hidden">
                <a [routerLink]="['/productDetails',item._id]">
                    <img [src]="item.imageCover" class="w-100" alt="">
                    <span class="text-main fw-bold">{{item.category.name}}</span>
                    <h3 class="fs-5">{{item.title|seemore:2}}</h3>
                    <div class="d-flex justify-content-between">
                        <span>{{item.price|currency}}</span>
                        <span>
                            <i class="fa-solid fa-star rating-color"></i>
                            {{item.ratingsAverage}}
                        </span>
                    </div>
                </a>
                <div class="my-2">
                    <button (click)="addToMyCart(item._id)" class="btn bg-main text-white w-100">+Add</button>
                </div>
            </div>
        </div>
    </div>
</div>