<div class="container">
    <div class="w-75 mx-auto py-5">
        <h2 class="py-3">Register Now:</h2>
        <form [formGroup]="registerForm">
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            <div>
                <label for="Name"> Name</label>
                <input formControlName="name" type="text" class="form-control" id="Name">
                <div *ngIf="registerForm.get('name')?.errors&&registerForm.get('name')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('name')?.getError('required')">Name is required</p>
                    <p *ngIf="registerForm.get('name')?.getError('minlength')">Name Length greater than 3 letters</p>
                    <p *ngIf="registerForm.get('name')?.getError('maxlength')">Name Length smaller than 20 letters</p>
                </div>

            </div>
            <div>
                <label for="email"> email</label>
                <input formControlName="email" type="email" class="form-control" id="email">
                <div *ngIf="registerForm.get('email')?.errors&&registerForm.get('email')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('email')?.getError('required')">E-mail is required</p>
                    <p *ngIf="registerForm.get('email')?.getError('email')">please enter email as ex: example@test.com
                    </p>
                </div>
            </div>
            <div>
                <label for="password"> password</label>
                <input formControlName="password" type="text" class="form-control" id="password">
                <div *ngIf="registerForm.get('password')?.errors&&registerForm.get('password')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
                    <p *ngIf="registerForm.get('password')?.getError('pattern')">please enter Lowercase , uercase ,
                        number min leanth 9
                    </p>
                </div>
            </div>
            <div>
                <label for="rePassword"> rePassword</label>
                <input formControlName="rePassword" type="text" class="form-control" id="rePassword">
                <div *ngIf="registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
                    <p *ngIf="registerForm.get('rePassword')?.getError('pattern')">please enter Lowercase , uercase ,
                        number min leanth 9
                    </p>
                </div>
            </div>
            <div>
                <label for="phone"> phone</label>
                <input formControlName="phone" type="text" class="form-control" id="phone">
            </div>
            <button *ngIf="!isLoading" [disabled]="registerForm.invalid" [disabled]="registerForm.invalid" (click)="sendData(registerForm)"
                class="btn bg-main text-white my-2">Register</button>
            <button *ngIf="isLoading" class="btn bg-main text-white my-2"><i class="fa-solid fa-spinner fa-spin text-white"></i></button>
        </form>
    </div>
</div>